$body_background: #EFF3F8;
$white_background: #FFFFFF;
$blue_primary: #3B82F6;
$blue_secondary: #EFF3F8;

$table_header_color: #5C6570;
$table_cell_color: #2E3338;
$table_border: #FBEEEF;
$table_scroll_slider: #D3D6DB;
$table_scroll_background: #F5F5F7;

$table_pagination_current: #89B5FA;
$table_pagination_divider: #FBEEEF;
$table_pagination_max: #a2a6aa;

$text-primary: #2E3338;
$text-secondary: #5C6570;